In [1]:
import findspark
findspark.init()
findspark.find()

'/Applications/anaconda3/lib/python3.8/site-packages/pyspark'

In [2]:
#Import PySpark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('SparkExample').getOrCreate()

In [5]:
data = [{"Category": 'A', "ID": 1, "Value": 121.44, "Truth": True},
        {"Category": 'B', "ID": 2, "Value": 300.01, "Truth": False},
        {"Category": 'C', "ID": 3, "Value": 10.99, "Truth": None},
        {"Category": 'E', "ID": 4, "Value": 33.87, "Truth": True}
        ]

df = spark.createDataFrame(data)

df.show()

+--------+---+-----+------+
|Category| ID|Truth| Value|
+--------+---+-----+------+
|       A|  1| true|121.44|
|       B|  2|false|300.01|
|       C|  3| null| 10.99|
|       E|  4| true| 33.87|
+--------+---+-----+------+

In [6]:
data

[{'Category': 'A', 'ID': 1, 'Value': 121.44, 'Truth': True},
 {'Category': 'B', 'ID': 2, 'Value': 300.01, 'Truth': False},
 {'Category': 'C', 'ID': 3, 'Value': 10.99, 'Truth': None},
 {'Category': 'E', 'ID': 4, 'Value': 33.87, 'Truth': True}]